.error {
	position: fixed;
	z-index: 10;
	top: 30%;
	left: 50%;
	width: 40%;
	height: auto;
	transform: translate(-50%, -50%);
	color: white;
	border: solid 4px white;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.75);
}

.error a {
	color: darkgrey;
	text-decoration: none;
}

.error p {
	margin: 20px;
}

.exit {
	position: absolute;
	top: 10px;
	right: 15px;
}

.icon {
	font-size: 30px;
	transition: color 0.3s ease-in-out;
}

.icon:hover {
	color: darkgrey;
	cursor: pointer;
}

.form {
	font-size: 40px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: rgba(0, 0, 0, 0.65);
	border-radius: 20px;
}

.form input,
.form input:focus {
	font-size: 18px;
	background: transparent;
	border: none;
	text-align: right;
	border-bottom: solid 1px white;
	color: white;
}

.form input:focus {
	outline: none;
	background-color: rgba(0, 0, 0, 0.2);
}

.controls button {
	font-size: 20px;
	margin-left: 60px;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
}
