.item {
	list-style: none;
    font-size: 30px;
    margin-top: 20px;
    border-bottom: 1px solid #000;
}

.item--odd {
    margin-left: 15%;
	text-align: left;
}

.item--even {
    margin-right: 15%;
	text-align: right;
}
