.form-wrapper {
	margin-top: 5%;
	width: 40%;
	height: 200px;
	position: relative;
	color: white;
}

.form {
	font-size: 40px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: rgba(0, 0, 0, 0.65);
	border-radius: 20px;
}

.form label {
	margin-left: -30%;
}

.form input,
.form input:focus {
	font-size: 30px;
	background: transparent;
	border: none;
	text-align: right;
	border-bottom: solid 1px white;
	color: white;
}

.form input:focus {
	outline: none;
	background-color: rgba(0, 0, 0, 0.2);
}

.controls button {
	font-size: 20px;
	margin-left: 60px;
	background: none;
	border: none;
	color: white;
}
