.weather {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	width: 400px;
	height: 60%;
	margin-top: 5%;
	background-color: red;
	color: white;
	border-radius: 50px;
	background: url('../../img/wroclaw.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: -8px 15px 24px -5px rgba(0, 0, 0, 1);
	-moz-box-shadow: -8px 15px 24px -5px rgba(0, 0, 0, 1);
	box-shadow: -8px 15px 24px -5px rgba(0, 0, 0, 1);
}

.weather--middle {
    transform: scale(0.92);
}

.weather--leftspin {
    transform: perspective(1000px) rotateY(-20deg);
}

.weather--rightspin {
    transform: perspective(1000px) rotateY(20deg);
}

.info {
	margin: 2rem 5rem;
	text-align: left;
}

.info--right {
	text-align: right;
}

.day {
	margin: 0;
	font-size: 40px;
}

.date {
}

.temp {
	margin: 0;
	font-size: 3rem;
}

.icon {
	font-size: 50px;
}
