.button {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: none;
	margin: 5px;
	justify-self: center;
	font-size: 20px;
	background-color: rgb(97, 97, 97);
	color: white;
	transition: opacity 0.3s ease-in-out;
}

.button:hover {
	cursor: pointer;
	opacity: 0.9;
}
