.display {
	width: 70%;
	height: auto;
	margin: 10px 0;
	border-bottom: 1px solid white;
	color: rgb(209, 209, 209);
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
}

.display p {
	margin-bottom: 0;
}
